# Ignore the following files:
# some comment

# emacs backup files
*~

# emacs temp files
\#*\#

# credentials
.git-credentials

# elpa packages
elpa/

# eshell files
eshell/history
eshell/lastdir

# server auth directory
/server/

# projectile files
projectile-bookmarks.eld
projectile.cache

# magit files
recentf
transient
