# Ignore the following files:

# emacs backup files
*~

# emacs temp files
\#*\#

# credentials
.git-credentials

# elpa packages
elpa/

# eshell files
eshell/history
eshell/lastdir

# server auth directory
/server/
